html,body{
    width: 100%;
    height: 100%;
}
#root{
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: auto;
    background: #fffbfb;
    transition: 1s;
}
.input{
    display: flex;
    justify-content: space-between;
    padding: 2% ;


}
.list{
    width: 20%;
    height: 30px;
    box-shadow: 0 4px 4px -2px lightblue;

}
.country-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
}
.country{
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(253, 242, 242, 0.068);
    border-radius: 10px;
    min-width: 250px;
    margin-bottom: 5%;
    font-weight: 500;
    box-shadow: 0 8px 8px -4px lightblue;
    padding-bottom: 3rem;
}
.flag{
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    min-width: 250px;
    min-height: 250px;
}
.btn{
    height: 50%;
    width: 20%;
    left: 40%;
    box-shadow: 0 8px 8px -4px lightblue;
    background-image: linear-gradient(to right, #b6fbff, #83a4d4);
    border: none;
    border-radius: 10px;
}
.btn-continer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    transition: 1s;
}
.darck{
    background-color: black;
    color: white;
  }